<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-5">
      <%= form_for(@user, url: user_registration_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :nickname, "ニックネーム（任意）" %>
          <p class="control has-icons-left">
            <%= f.text_field :nickname, autofocus: true, :placeholder => "例）旅の者", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス（必須）" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autocomplete: "email", :placeholder => "PC・携帯どちらでも可", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード（必須）" %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "6文字以上の半角英数字", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "パスワード（確認）" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "同じパスワードを入力して下さい", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field user-name">
          <div>
            <%= f.label :first_name, "名前（必須）" %>
            <p class="control has-icons-left">
              <%= f.text_field :first_name, :placeholder => "例) 旅太郎", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="ml-4">
            <%= f.label :last_name, "名字（必須）" %>
            <p class="control has-icons-left">
              <%= f.text_field :last_name, :placeholder => "例) 山田", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="birthday-gender ">
          <div class="field user-birthday">
            <%= f.label :birthday, "生年月日（必須）" %>
            <p class="control has-icons-left">
              <%= f.date_field :birthday, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field user-gender ml-6">
            <%= f.label :gender_id, "性別（必須）" %>
            <p class="control has-icons-left">
              <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class: "input"}) %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="actions mt-2">
          <%= f.submit "次へ", class: "button is-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>