<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-3">
      <%= form_for @area do |f| %>
        <%= render "devise/shared/error_messages", resource: @area %>
        <div class="field">
          <%= f.label :country, "国（必須）" %>
          <p class="control has-icons-left">
            <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class: "input"}) %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :state, "地域（必須）" %>
          <p class="control has-icons-left">
            <%= f.text_field :state, :placeholder => "例）東京", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :language_id, "言語（必須）" %>
          <p class="control has-icons-left">
            <%= f.collection_select(:language_id, Language.all, :id, :name, {}, {class: "input"}) %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="actions mt-2">
          <%= f.submit "次へ", class: "button is-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
