<h2>プロフィール画像情報登録</h2>

<%= form_for @image do |f| %>
  <%= render "devise/shared/error_messages", resource: @image %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>