<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-5">
      <% @tweets.each do |tweet| %>
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= tweet.title %>
            </p>
            <% if tweet.user.nickname.present? %>
              <%= link_to tweet.user.nickname, user_path(tweet.user_id), class: "button card-header-item mt-1 mr-4" %>
            <% else %>
              <%= link_to tweet.user.first_name, user_path(tweet.user_id), class: "button card-header-item mt-1 mr-4" %>
            <% end %>
          </header>
          <div class="card-content">
            <div class="content">
              <%= link_to image_tag(tweet.image, class: "img" ), tweet_path(tweet) %>
            </div>
          </div> 
        </div> 
      <% end %>
      <div class="mb-6">
        <%= paginate @tweets %>
      </div>
    </div>
  </div>
</div>