<%= render "shared/header" %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= link_to tweet_path(tweet.id) do %>
        <%#<p><%= image_tag tweet.image %></p>
        <p><%= tweet.title %></p>
        <p><%= tweet.text %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "新規投稿", new_tweet_path%>
</div>