<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-6">
      <%= form_with model: @tweet, local: true do |f| %>
        <div class="field new-image">
          <%= f.label :image %>
          <%= f.file_field :image, class: "input" %>
        </div>
        <div class="field new-title">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, :placeholder => "title", class: "input" %>
        </div>
        <div class="field">
          <%= f.label :text %>
          <%= f.text_area :text, :placeholder => "text", class: "textarea" %>
        </div>
        <div class="actions">
          <%= f.submit "Tweet", class: "button is-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>