<%= render "shared/header" %>

<div>
  <%#<p><%= image_tag @tweet.image %></p>
  <p><%= @tweet.title %></p>
  <p><%= @tweet.text %></p>
  <ul>
    <li><%= link_to 'Edit', edit_tweet_path %></li>
    <li></li>
  </ul>
</div>