<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-5">
      <p class="is-size-3 has-text-centered mb-3">予約が完了しました！！</p>
      <div class="card">
        <header class="card-header">
            <p class="card-header-title">
              <%= @tour.title %>
            </p>
        </header>
        <div class="card-content">
          <div class="content tour-img">
          <div class="content">
            <p>日程：<%= @tour.start_on %> 〜 <%= @tour.end_on %></p>
          </div>
          <div class="content">
            <p>旅先：<%= @tour.country.name %></p>
          </div>
          <div class="content">
            <p>料金：<%= @tour.price %> 円</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>