<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "ホーム", root_path %>
      </div>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <% if current_user.nickname.present? %>
            <li><%= link_to current_user.nickname, user_path(current_user.id), class: :nav__btn %></li>
          <% else %>
            <li><%= link_to current_user.first_name, user_path(current_user.id), class: :nav__btn %></li>
          <% end %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: :nav__btn %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: :nav__btn %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>