<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-6 mb-6">
      <%= form_with model: tour, local: true do |f| %>
        <div class="field new-image">
          <%= f.label :image %>
          <%= f.file_field :image, class: "input" %>
        </div>
        <div class="field new-title">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, :placeholder => "title", class: "input" %>
        </div>
        <div class="field new-tour-date">
          <%= f.label :start_on %>
          <%= f.date_field :start_on, class: "input" %>
        </div>
        <div class="field new-tour-date">
          <%= f.label :end_on %>
          <%= f.date_field :end_on, class: "input" %>
        </div>
        <div class="field new-tour-country">
          <%= f.label :country_id %>
          <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class: "input"}) %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, :placeholder => "description", class: "textarea" %>
        </div>
        <div class="field new-tour-price">
          <%= f.label :price %>
          <%= f.text_field :price, :placeholder => "price", class: "input" %>
        </div>
        <div class="actions">
          <%= f.submit "Tweet", class: "button is-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>