<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-5">
      <div class="card mb-6">
        <header class="card-header">
            <p class="card-header-title">
              <%= @tour.title %>
            </p>
            <% if current_user.id == @tour.user_id && @tour.purchase.blank? %>
              <%= link_to 'Edit', edit_tour_path, class: "button card-header-item mt-1 mr-4" %>
              <%= link_to 'Destroy', tour_path, method: :delete, class: "button card-header-item mt-1 mr-4",  data: { confirm: '削除しますか？' }  %> 
            <% end %>
        </header>
        <div class="card-content">
          <div class="content tour-img">
            <%= image_tag @tour.image, class: "img" %>
            <% if @tour.purchase.present? %> 
              <div class="fin is-size-1" style="font-family: cursive;">
                <span>Finish</span>
              </div>
            <% end %>
          </div>
          <div class="content">
            <p>日程：<%= @tour.start_on %> 〜 <%= @tour.end_on %></p>
          </div>
          <div class="content">
            <p>旅先：<%= @tour.country.name %></p>
          </div>
          <div class="content">
            <p>内容</p>
            <%= simple_format @tour.description, class: "text" %>
          </div>
          <div class="content">
            <p>料金：<%= @tour.price %> 円</p>
          </div>
        </div>
        <footer class="card-footer">
          <% if current_user.id != @tour.user.id && @tour.purchase.blank? %>
            <%= link_to "申し込む", new_tour_purchase_path(@tour), class: "button card-footer-item" %>
          <% end %>
        </footer>
      </div>
    </div>
  </div>
</div>