<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-5">
      <div class="card mb-6">
        <header class="card-header">
          <p class="card-header-title">
            <%= @user.nickname %>
          </p>
          <%if current_user.id != @user.id %>
            <%= link_to "レビューを書く", new_user_review_path(@user), class: "button card-header-item mt-1 mr-4" %>
          <% end %>
        </header>
        <div class="card-content">
          <div class="content average-score">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= @user.review_score_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= @user.avg_score %>点（<%= @user.reviewee_reviews.count %>件のレビュー）
            </div>
          </div>
        </div>
      </div>
      <table class="table is-fullwidth has-text-centered">
        <thead>
          <tr>
            <th>ユーザー</th><th>点数</th><th>クチコミ</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <% if review.reviewer.nickname.present? %>
                <td><%= review.reviewer.nickname %></td>
              <% else %>
                <td><%= review.reviewer.first_name %></td>
              <% end %>
              <td><%= review.score %></td>
              <td><%= link_to "クチコミを見る", root_path, class: "button is-size-7" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>