<!DOCTYPE html>
<html>
  <head>
    <title>TripApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p class="navbar-item">
          <%= link_to root_path do %>
            <strong class="is-size-3" style="font-family: cursive; color: black;">world trip</strong>
          <% end %>
        </p>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Tweet一覧", tweets_path, class: "navbar-item" %>
          <%= link_to "Tour一覧", tours_path, class: "navbar-item" %>
          <%= link_to "User一覧", users_path, class: "navbar-item" %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <% if current_user.nickname.present? %>
                <p class="navbar-item">ようこそ<%= link_to current_user.nickname, user_path(current_user.id), class: "navbar-item" %>さん</p>
              <% else %>
                <p class="navbar-item">ようこそ<%= link_to current_user.first_name, user_path(current_user.id), class: "navbar-item" %>さん</p>
              <% end %>
            <% end %>
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to "Tweet投稿", new_tweet_path, class: "button"%>
                <%= link_to "Tour投稿", new_tour_path, class: "button"%>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button" %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "button" %>
                <%= link_to "新規登録", new_user_registration_path, class: "button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
